@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

$PurpleHeart: #5b15c5;
$Aquamarine: #46ffba;
$WildStrawberry: #ff2983;
$Black10: rgba(0, 0, 0, 0.1);
$White10: rgba(255, 255, 255, 0.1);
$White40: rgba(255, 255, 255, 0.4);
$White60: rgba(255, 255, 255, 0.6);
$White: #ffffff;
$Black: #000000;

body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  text-align: center;
  color: $White;
  background: $PurpleHeart;
}

button {
  display: inline-block;
  width: calc(100% - 32px);
  padding: 15px 0;
  border: 0;
  border-radius: 32px;
  color: $White;
  font-size: 12px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  background: $WildStrawberry;
  cursor: pointer;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  opacity: 1;
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes diceInActive {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.1;
  }
}

@keyframes buttonInActive {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.4;
  }
}

@keyframes buttonActive {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

.header {
  display: flex;
  align-items: center;
  height: 64px;
  min-height: 64px;
  padding: 0 16px;
  border-bottom: 1px solid $White10;
  font-weight: 700;
  font-size: 14px;
  background: $PurpleHeart;

  polygon {
    fill: $White;
  }

  &--home {
    justify-content: flex-end;
  }

  &__icon {
    cursor: pointer;
    &--home {
      margin-left: 5px;
    }
  }

  &__balance {
    cursor: pointer;
  }
}

.page-holder {
  display: flex;
  flex-direction: column;
  height: 100vh;
  opacity: 1;
  animation: fadeIn 1s;
}

.home {
  .dice-screen {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    padding-top: 32px;
    color: $White;

    &__result {
      display: flex;
      flex-direction: column;

      svg {
        width: 124px;
      }

      &--WON {
        svg path {
          fill: $Aquamarine;
        }
      }

      &--LOST {
        svg path {
          fill: $Black;
        }
      }
    }

    &__balance {
      margin-top: 32px;
      font-size: 32px;
      font-weight: 700;

      &--LOST {
        visibility: hidden;
      }
    }

    &__verdict {
      margin-top: 5px;
      font-size: 12px;
    }
  }

  .bet-panel {
    display: flex;
    flex-direction: column;
    padding: 16px 0 32px;
    background: $Black10;

    &__dice {
      &-instructions {
        display: inline-block;
        margin-bottom: 16px;
        color: $White40;
      }

      &-alldice {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
        list-style: none;
      }

      &-item {
        margin-right: 12px;
        cursor: pointer;

        svg {
          width: 40px;
        }

        &--inactive {
          opacity: 0.1;
          animation: diceInActive 600ms;
        }

        &--active {
          opacity: 1;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }

    &__bet {
      &-amount {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 40px 0 32px;
        font-size: 32px;
        font-weight: 700;
      }

      &-control {
        cursor: pointer;
      }

      &-value {
        margin: 0 16px;
        color: $White;
      }
    }

    &__button {
      &--inactive {
        opacity: 0.4;
        animation: buttonInActive 600ms;
      }

      &--active {
        opacity: 1;
        animation: buttonActive 600ms;
      }
    }
  }
}

.profile {
  display: flex;
  flex-direction: column;

  &__topup {
    &-credit {
      display: block;
      margin: 32px 0;
      font-size: 32px;
      font-weight: 700;
    }
  }

  &__history {
    display: flex;
    flex-direction: column;
    margin: 64px 0 24px 16px;
    text-align: left;

    &-title {
      margin-bottom: 24px;
      font-size: 32px;
      font-weight: 700;
    }

    &-list {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    &-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 64px;
      padding: 0 24px 0 8px;

  animation: fadeIn 1s;

      svg {
        width: 16px;
        margin: 0 24px 0 0;
      }
    }

    &-column {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 50%;
    }

    &-info {
      display: flex;
      flex-direction: column;
      text-align: left;
    }

    &-verdict {
      line-height: 20px;
      font-size: 14px;
    }

    &-timestamp {
      font-size: 8px;
      color: $White60;
    }

    &-margin {
      font-size: 12px;

      &::before {
        content: "-";
      }

      &--WON {
        font-weight: 700;
        color: $Aquamarine;

        &::before {
          content: "+";
        }
      }
    }

    &-credit {
      margin-left: auto;
      font-size: 14px;
    }
  }
}
